/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* regole di debug */

[class*="col-"] {
  /* min-height: 100px;
  background-color: lightgreen;
  border: solid 1px  #000;
  padding: 2px; */
}

/* .container {
  background-color: red;
  border: solid 1px  #000;
} */

/* regole pagina */

a {
  text-decoration: none;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  background-color: white;
}

#mdnav {
  display: none;
}

.logonav {
  width: 57%;
  min-height: 35px;
  padding-top: 7px;
}

.logonav img {
  max-width: 100%;
  height: auto;
}

#products {
  width: 80%;
  padding-top: 10px;
}

#products a, #support a {
  font-size: 13px;
  color: #031b4e;
  margin-right: 10px;
}

#support {
  width: 75%;
  padding-top: 10px;
  text-align: right;
  float: right;
}

#support a:nth-of-type(4) {
  color: #006aff;
  margin-right: 0;
  border: 1px solid #006aff;
  border-radius: 5px;
  padding: 5px;
}


#hamburger {
  padding-top: 7px;
  max-width: 50%;
  margin: auto;
}

#hamburger div {
  background-color: #031b4e;
  width: 100%;
  height: 5px;
  margin: 3px 0;
}


/* regole parte centrale */

#sezione1, #sezione3, #sezione6 {
  background-color: #f3f5f9;
}

#sezione5, #sezione7 {
  background-color: #0157ff;
}

section {
  padding: 40px 0;
}

/* regole jumbotron */

#jumbotron {
  background-image: url(../img/home.jpg);
  background-size: cover;
  margin-top: 35px;
  padding: 40px 0;
}

#textjumbo {
  padding: 30px 20px 30px 0;
  color: white;
}

#textjumbo1 > p {
  font-size: 50px;
  font-weight: 600;
}

#conteform {
  padding-top: 30px;
  padding-left: 20px;
}

#form {
  width: 100%;
  background-color: white;
  padding: 30px 30px;
  text-align: center;
  border-radius: 3px;
}

form > * {
  width: 100%;
  margin-top: 8px;
  border-radius: 3px;
  padding: 10px;
}

#account{
  border: none;
  background-color: #006aff;
  font-size: 11px;
  color: white;
  font-weight: bold;
}

button {
  cursor: pointer;
}

#google {
  padding: 10px 0;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  position: relative;
}

#google img {
  width: 7%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

#sign {
  background-color: white;
  border: none;
  font-size: 11px;
  color: grey;
  font-weight: bold;
  width: 100%;
}

form input:nth-of-type(1), form input:nth-of-type(2) {
  border: 1px solid #f3f5f9;
}

#form p:nth-of-type(1), #form p:nth-of-type(3) {
  color: #031b4e;
}

#form p:nth-of-type(1) {
  font-size: 20px;
  font-weight: 600;
}

#form p:nth-of-type(3) {
  font-size: 8px;
  margin-top: 10px;
}

#form a {
  text-decoration: underline;
}

/* sezione 1 */

#innovative {
  text-align: center;
  min-width: 100%;
  color: grey;
  font-weight: 600;
  margin-bottom: 40px;
}

.logo {
  text-align: center;
}

.logo img {
  max-width: 100%;
  min-height: 77px;
}

#stories {
  text-align: center;
  margin-top: 40px;
}

/* sezione 2 */

.testo1 {
  font-size: 22px;
  font-weight: 600;
  color: #031b4e;
  text-align: center;
  margin-bottom: 30px;
}

.testo2 {
  font-size: 16px;
  font-weight: 600;
  color: #5b6987;
  text-align: center;
  margin-bottom: 40px;
}

.testo3 {
  font-size: 15px;
  font-weight: 600;
  color: #031b4e;
  text-align: left;
  margin: 10px 0;
}

.testo4 {
  font-size: 12px;
  font-weight: 600;
  color: #5b6987;
  text-align: left;
}

#laterale {
  border-left: 1px solid #5b6886;
  color: #5b6886;
  line-height: 200%;
  padding-left: 10px;
  margin-bottom: 40px;
}

.apps {
  width: 100%;
  padding-right: 30px;
  margin-bottom: 30px;
}

.immagine {
  width: 25%;
  height: auto;
}

/* sezione 3 */


/* sezione 4 */


/* sezione 5 */


/* sezione 6 */


/* sezione 7 */


/* footer */

footer {
  background-color: #010e28;
}

/* media query */

@media all and (max-width: 992px) {

  #mdnav {
    display: initial;
  }

  #lgnav {
    display: none;
  }


}

@media all and (max-width: 768px) {

  .container {
    width: 96%;
    margin: 0 auto;
  }
}

@media all and (min-width: 993px) and (max-width: 1435px) {

  #products, #support {
    padding-top: 5px;
  }

  #products a, #support a {
    font-size: 8px;
    margin-right: 3px;
  }

}

@media all and (min-width: 769px) and (max-width: 992px) {

  .container {
    width: 93%;
    margin: 0 auto;
  }
}
